%body
.container	
	%h1 Welcome back
	%h3 See bookmarks from your latest topics below
	%p Edit your topic titles or click through to see all the bookmarks under each topic
	
	- @own_topics.each do |topic|
		.row
		%br 
		%p
			= best_in_place topic, :title
			#{link_to(" See more", topic_path(topic), class: "trackable", "data-track" => "Topic selection")}
			.div
				%br
				.row
					- topic.bookmarks[0..4].each do |bookmark|
						.col-xs-3.col-xs-3
							%p{:style => "word-break;"}
								- if bookmark.thumbnail_url
									= render partial: 'bookmark'
						.row
							.col-xs-3.col-xs-3
								%p
								= link_to bookmark.description, bookmark.url
								- if bookmark.user_id != current_user.id
									From #{User.find(bookmark.user_id).name ||= User.find(bookmark.user_id).email }
						%hr
	%br
	%h3 See what other people are bookmarking from around the web 
	- @others_topics.each do |topic|
		.row
		%br 
		%p
			= topic.title 
			#{link_to(" See more", topic_path(topic), class: "trackable", "data-track" => "Topic selection")}
			.div
				%br
				- topic_bookmarks = topic.bookmarks
				.row
					- topic_bookmarks[0..4].each do |bookmark|
						.col-xs-3.col-xs-3
							%p{:style => "word-break:break-all;"}
								- if bookmark.thumbnail_url
									= render partial: 'bookmark', locals: { bookmark: bookmark }
								= link_to bookmark.description, bookmark.url
				%hr

:javascript
	$(document).ready(function(){
		var referrer = document.referrer
		var user_email = #{
			if current_user
				current_user.email.to_json
			else
				nil
			end}
		blocmetrics('page_view', window.location.origin, referrer, user_email)
			$("a.trackable").on("click", function(){
				alert( "test" );
				blocmetrics('click', $(this).data("track"), referrer, user_email);
			}
		)
	})



