
.container
	%h1 Your bookmarks
	%p Edit your topic titles or click through to see all the bookmarks under each topic

	- @topics.each do |topic|
		.row
		%br 
		%p
			= best_in_place topic, :title
			%br
			= link_to "See bookmarks", topic_path(topic)
			.div
				%br
				- topic_bookmarks = topic.bookmarks
				.row
					- topic_bookmarks.each do |bookmark|
						.col-xs-3.col-xs-3
							%p{:style => "word-break:break-all;"}
								- if bookmark.thumbnail_url
									= "#{bookmark.thumbnail_url}"
									= image_tag(bookmark.thumbnail_url)
								= link_to bookmark.description, bookmark.url