:javascript
	var blocmetrics = function(name, location){
		var _bm_event = {
			name: name
			location: location
		}

		var _bm_request = $.ajax({
			url: "http://lvh.me:3000/events.json",
			method: "post",
			data: {event: _bm_event}
		})
	}

	$(document).ready(function(){
		blocmetrics('topic_view', window.location.origin)
	})

.container	
	%h1 Welcome back
	%h3 See bookmarks from your latest topics below
	%p Edit your topic titles or click through to see all the bookmarks under each topic
	
	- @own_topics.each do |topic|
		.row
		%br 
		%p
			= best_in_place topic, :title
			#{link_to(" See more", topic_path(topic))}
			.div
				%br
				.row
					- topic.bookmarks[0..4].each do |bookmark|
						.col-xs-3.col-xs-3
							%p{:style => "word-break;"}
								- if bookmark.thumbnail_url
									= image_tag(bookmark.thumbnail_url, size: "64x64")
						.row
							.col-xs-3.col-xs-3
								%p
								= link_to bookmark.description, bookmark.url
								- if bookmark.user_id != current_user.id
									From #{User.find(bookmark.user_id).name ||= User.find(bookmark.user_id).email }
	%br
	%h3 See what other people are bookmarking from around the web 
	- @others_topics.each do |topic|
		.row
		%br 
		%p
			= topic.title 
			#{link_to(" See more", topic_path(topic))}
			.div
				%br
				- topic_bookmarks = topic.bookmarks
				.row
					- topic_bookmarks[0..4].each do |bookmark|
						.col-xs-3.col-xs-3
							%p{:style => "word-break:break-all;"}
								- if bookmark.thumbnail_url
									= image_tag(bookmark.thumbnail_url, size: "64x64")
								= link_to bookmark.description, bookmark.url