.container
	-if current_user 
		.container
		- if @personal_bookmarks && @personal_bookmarks.count > 0
			%h3 Your latest bookmarks on #{@topic.title}
			- @personal_bookmarks.each do |bookmark|
				%p{:style => "word-break;"}
					= link_to bookmark.description, bookmark.url
					- if bookmark.thumbnail
						= image_tag(bookmark.thumbnail, size: "64x64")
					= render partial: 'likes/like', locals: { bookmark: bookmark }
					- if bookmark.user_id == current_user.id
						= render partial: 'bookmarks/bookmark', locals: { bookmark: bookmark }
		- else 
			You don't have any bookmarks on #{@topic.title}

	%h3 The latest other bookmarks from around the web on #{@topic.title}
	- @others_bookmarks.each do |bookmark|
		%p{:style => "word-break;"}
			= link_to bookmark.description, bookmark.url
			- if current_user
				= render partial: 'likes/like', locals: { bookmark: bookmark }
%br
%p 
	= link_to "Back", topics_path